## Задача 1. Оценка вероятностей


40% заказов имеют стоимость больше 1000 рублей каждый. Допустим, новый заказ стоит больше 1000 рублей с вероятностью 0.4. Оцените вероятность того, что из 100 новых заказов 50 или более стоят дороже 1000 рублей.

Ответ округлите с точность до 3 знака после точки.

In [1]:
import scipy.stats as st

In [2]:
p = 0.4
q = 0.6
n = 100
m = 50

In [3]:
total = 0
for i in range(50, 100):
    total += st.binom.pmf(k=i, p=p, n=n)

In [4]:
round(total, 3)

np.float64(0.027)

## Задача 2. Популярные товары
 

Определите топ-3 товара по суммарной выручке. Для решения используйте данные из файла 2022-04-01/2022-04-01T12_df_sales_detail.csv.
Описание данных можно посмотреть на платформе А/Б тестирования на вкладке Главная.


Выберите полученные товары:

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("2022-04-01T12_df_sales_detail.csv")

In [7]:
data.head()

   sale_id           good  price                 date user_id
0  1000001  mexican pizza    720  2022-02-04 10:00:24  1c1543
1  1000002    chefs pizza    840  2022-02-04 10:02:28  a9a6e8
2  1000002   orange juice     90  2022-02-04 10:02:28  a9a6e8
3  1000003   cheese pizza    600  2022-02-04 10:02:35  23420a
4  1000003  italian pizza    720  2022-02-04 10:02:35  23420a

In [8]:
data.groupby("good")["price"].sum().sort_values(ascending=False).head(3)

good
chefs pizza               24558240
double pepperoni pizza    22558380
chicken bbq pizza         17622540
Name: price, dtype: int64

## Задача 3. Время от захода на сайт до покупки
  

Оцените средний срок, который проходит от захода пользователя на сайт до совершения покупки. Будем считать, что заход на сайт относится к покупке, если он был совершён не ранее, чем за два часа до совершения покупки. Другими словами, для каждой покупки нужно посчитать время, которое проходит от покупки до первого захода на сайт того же пользователя в течение двух часов перед покупкой. И от полученных значений времени посчитать среднее.

In [22]:
import pandas as pd

In [23]:
sales_df = pd.read_csv("2022-04-01T12_df_sales.csv")
logs_df = pd.read_csv("2022-04-01T12_df_web_logs.csv")

In [24]:
sales_df.head()

   sale_id                 date  count_pizza  count_drink  price user_id
0  1000001  2022-02-04 10:00:24            1            0    720  1c1543
1  1000002  2022-02-04 10:02:28            1            1    930  a9a6e8
2  1000003  2022-02-04 10:02:35            3            1   1980  23420a
3  1000004  2022-02-04 10:03:06            1            1    750  3e8ed5
4  1000005  2022-02-04 10:03:23            1            1    870  cbc468

In [25]:
logs_df.head()

  user_id page                 date  load_time
0  f25239    m  2022-02-03 23:45:37       80.8
1  06d6df    m  2022-02-03 23:49:56       70.5
2  06d6df    m  2022-02-03 23:51:16       89.7
3  f25239    m  2022-02-03 23:51:43       74.4
4  697870    m  2022-02-03 23:53:12       66.8

In [30]:
# common_df = logs_df.merge(sales_df, on='user_id', suffixes=('_logs', '_sales'), how='right')

In [58]:
common_df = sales_df.merge(logs_df, on='user_id', suffixes=('_sales', '_logs'), how='left')

In [59]:
common_df.groupby("sale_id")['date_logs'].count()

sale_id
1000001    28
1000002    27
1000003    18
1000004    52
1000005    20
           ..
1203843     7
1203844    33
1203845    35
1203846    24
1203847    30
Name: date_logs, Length: 203847, dtype: int64

In [61]:
common_df.sale_id.nunique()

203847

In [60]:
common_df['date_sales'] = pd.to_datetime(common_df['date_sales'])
common_df['date_logs'] = pd.to_datetime(common_df['date_logs'])

In [62]:
common_df['time_diff'] = common_df['date_sales'] - common_df['date_logs']

In [63]:
common_df = common_df[(common_df['time_diff'] <= pd.Timedelta(hours=2)) & (common_df['time_diff'] >= pd.Timedelta(hours=0))]

In [68]:
users_sales_time = common_df.groupby(["user_id", "sale_id"], as_index=False)['time_diff'].max()

In [69]:
users_sales_time

       user_id  sale_id       time_diff
0       000096  1101926 0 days 00:17:54
1       000096  1168537 0 days 00:18:15
2       0000d4  1090424 0 days 00:18:22
3       0000d4  1186587 0 days 00:17:16
4       0000de  1028832 0 days 00:15:53
...        ...      ...             ...
203842  fffcab  1115270 0 days 00:14:54
203843  fffd64  1051504 0 days 00:13:13
203844  ffff62  1160164 0 days 00:15:41
203845  ffff8f  1004686 0 days 00:11:37
203846  ffff8f  1037059 0 days 00:13:22

[203847 rows x 3 columns]

In [70]:
users_sales_time.time_diff.mean()

Timedelta('0 days 00:16:35.312670777')

In [72]:
round(users_sales_time.time_diff.mean().total_seconds()/60)

17

## Задача 4. Знакомство с задачами на код
  

Функция суммирования двух чисел

In [73]:
def sum_two_values(a, b):
    """Возвращает сумму чисел."""
    return a + b

## Задача 5. Функция для фильтрации данных
  

Для оценки результатов экспериментов нам нужно выбрать данные, полученные во время эксперимента.

Напишите функцию get_data_subset.

Шаблон решения

from datetime import datetime

import pandas as pd


def get_data_subset(df, begin_date, end_date, user_ids=None, columns=None):
    """Возвращает подмножество данных.

    :param df (pd.DataFrame): таблица с данными, обязательные столбцы: 'date', 'user_id'.
    :param begin_date (datetime.datetime | None): дата начала интервала с данными.
        Пример, df[df['date'] >= begin_date].
        Если None, то фильтровать не нужно.
    :param end_date (datetime.datetime | None): дата окончания интервала с данными.
        Пример, df[df['date'] < end_date].
        Если None, то фильтровать не нужно.
    :param user_ids (list[str] | None): список user_id, по которым нужно предоставить данные.
        Пример, df[df['user_id'].isin(user_ids)].
        Если None, то фильтровать по user_id не нужно.
    :param columns (list[str] | None): список названий столбцов, по которым нужно предоставить данные.
        Пример, df[columns].
        Если None, то фильтровать по columns не нужно.

    :return df (pd.DataFrame): датафрейм с подмножеством данных.
    """
    # YOUR_CODE_HERE

In [74]:
from datetime import datetime

import pandas as pd


def get_data_subset(df, begin_date, end_date, user_ids=None, columns=None):
    """Возвращает подмножество данных.

    :param df (pd.DataFrame): таблица с данными, обязательные столбцы: 'date', 'user_id'.
    :param begin_date (datetime.datetime | None): дата начала интервала с данными.
        Пример, df[df['date'] >= begin_date].
        Если None, то фильтровать не нужно.
    :param end_date (datetime.datetime | None): дата окончания интервала с данными.
        Пример, df[df['date'] < end_date].
        Если None, то фильтровать не нужно.
    :param user_ids (list[str] | None): список user_id, по которым нужно предоставить данные.
        Пример, df[df['user_id'].isin(user_ids)].
        Если None, то фильтровать по user_id не нужно.
    :param columns (list[str] | None): список названий столбцов, по которым нужно предоставить данные.
        Пример, df[columns].
        Если None, то фильтровать по columns не нужно.

    :return df (pd.DataFrame): датафрейм с подмножеством данных.
    """
    df = df.copy()
    df['date'] = pd.to_datetime(df['date'])

    if begin_date is not None:
        df = df[df['date'] >= begin_date].copy()
    if end_date is not None:
        df = df[df['date'] < end_date].copy()
    if user_ids is not None:
        df = df[df['user_id'].isin(user_ids)].copy()
    if columns is not None:
        df = df[columns].copy()
    return df

## Задача 6. Функции вычисления метрик
  

Напишите функции get_response_time, get_revenue_web и get_revenue_all для вычисления метрик «revenue (web)», «revenue (all)» и «response time».

In [206]:
def filter_by_timediff(df, diff=pd.Timedelta(hours=2)):
    df = df.copy()
    df['time_diff'] = df['date_sales'] - df['date_logs']
    df = df[(df['time_diff'] <= diff) &\
        (df['time_diff'] >= pd.Timedelta(hours=0)) | (df['time_diff'].isna())]
    return df

def get_response_time(df_web_logs, begin_date, end_date):
    """Вычисляет значения времени обработки запроса сервером.

    Нужно вернуть значения user_id и load_time из таблицы df_web_logs,
    отфильтрованные по дате.
    Считаем, что запросы обрабатываются независимо, поэтому группировать
    по user_id не нужно.

    :param df_web_logs (pd.DataFrame): таблица с логами сайта, содержит
    столбцы ['user_id', 'date', 'load_time'].
    :param begin_date, end_date (datetime): границы периода для
    фильтрации данных по дате. Левая граница входит, правая не входит.

    :return (pd.DataFrame): датафрейм с двумя столбцами ['user_id', 'metric']
    """
    df_web_logs = df_web_logs.copy()
    df_web_logs['date'] = pd.to_datetime(df_web_logs['date'])
    return df_web_logs[(df_web_logs['date'] >= begin_date) &\
        (df_web_logs['date'] < end_date)].rename({'load_time': 'metric'}, axis=1)[['user_id', 'metric']]

def get_revenue_web(df_sales, df_web_logs, begin_date, end_date):
    """Вычисляет значения выручки с пользователя за указанный период
    для заходивших на сайт в указанный период.

    Эти данные нужны для экспериментов на сайте, когда в эксперимент
    попадают только те, кто заходил на сайт во время эксперимента.

    Нужно вернуть значения user_id и выручки (sum(price)) за указанный
    период для пользователей, заходивших на сайт в указанный период.
    Если пользователь зашёл на сайт и ничего не купил, его суммарная
    стоимость покупок равна нулю.
    Для каждого user_id должно быть ровно одно значение.

    :param df_sales (pd.DataFrame): таблица с продажами, содержит
        столбцы ['user_id', 'date', 'price'].
    :param df_web_logs (pd.DataFrame): таблица с логами сайта, содержит
        столбцы ['user_id', 'date', 'load_time'].
    :param begin_date, end_date (datetime): границы периода для фильтрации
        данных по дате. Левая граница входит, правая не входит.

    :return (pd.DataFrame): датафрейм с двумя столбцами ['user_id', 'metric']
    """
    df_sales = df_sales.copy()
    df_sales['date'] = pd.to_datetime(df_sales['date'])
    df_sales = df_sales[(df_sales['date'] >= begin_date) &\
        (df_sales['date'] < end_date)].rename({'price': 'metric'}, axis=1)

    df_web_logs = df_web_logs.copy()
    df_web_logs['date'] = pd.to_datetime(df_web_logs['date'])
    df_web_logs = df_web_logs[(df_web_logs['date'] >= begin_date) &\
        (df_web_logs['date'] < end_date)][['user_id', 'date']]

    result = df_web_logs.merge(df_sales, on='user_id', how='left', suffixes=("_logs", "_sales"))

    result = filter_by_timediff(result)

    result['metric'] = result['metric'].fillna(0)
    result = result.groupby('user_id', as_index=False)['metric'].sum()
    return result


def get_revenue_all(df_sales, df_web_logs, begin_date, end_date):
    """Вычисляет значения выручки с пользователя за указанный период
    для заходивших на сайт до end_date.

    Эти данные нужны, например, для экспериментов с рассылкой по email,
    когда в эксперимент попадают те, кто когда-либо оставил нам свои данные.

    Нужно вернуть значения user_id и выручки (sum(price)) за указанный период
    для пользователей, заходивших на сайт до end_date.
    Если пользователь ничего не купил за указанный период, его суммарная
    стоимость покупок равна нулю.
    Для каждого user_id должно быть ровно одно значение.

    :param df_sales (pd.DataFrame): таблица с продажами, содержит
        столбцы ['user_id', 'date', 'price'].
    :param df_web_logs (pd.DataFrame): таблица с логами сайта, содержит
        столбцы ['user_id', 'date', 'load_time'].
    :param begin_date, end_date (datetime): границы периода для фильтрации
        данных по дате. Левая граница входит, правая не входит.

    :return (pd.DataFrame): датафрейм с двумя столбцами ['user_id', 'metric']
    """
    df_sales = df_sales.copy()
    df_sales['date'] = pd.to_datetime(df_sales['date'])
    df_sales = df_sales[(df_sales['date'] >= begin_date) &\
        (df_sales['date'] < end_date)].rename({'price': 'metric'}, axis=1)

    df_web_logs = df_web_logs.copy()
    df_web_logs['date'] = pd.to_datetime(df_web_logs['date'])
    df_web_logs = df_web_logs[df_web_logs['date'] < end_date][['user_id', 'date']]

    result = df_web_logs.merge(df_sales, on='user_id', how='left', suffixes=("_logs", "_sales"))

    result = filter_by_timediff(result)

    result['metric'] = result['metric'].fillna(0)
    result = result.groupby('user_id', as_index=False)['metric'].sum()
    return result

In [207]:
df_sales = pd.DataFrame({
    'date': [datetime(2022, 3, day, 11) for day in range(11, 14)],
    'price': [1100, 900, 1500],
    'user_id': ['1', '2', '1'],
})
df_web_logs = pd.DataFrame({
    'date': [datetime(2022, 3, day, 11) for day in range(10, 14)],
    'load_time': [80.8, 90.1, 15.8, 19.7],
    'user_id': ['3', '1', '2', '1'],
})

In [208]:
df_sales

                 date  price user_id
0 2022-03-11 11:00:00   1100       1
1 2022-03-12 11:00:00    900       2
2 2022-03-13 11:00:00   1500       1

In [209]:
df_web_logs

                 date  load_time user_id
0 2022-03-10 11:00:00       80.8       3
1 2022-03-11 11:00:00       90.1       1
2 2022-03-12 11:00:00       15.8       2
3 2022-03-13 11:00:00       19.7       1

In [210]:

begin_date = datetime(2022, 3, 11, 9)
end_date = datetime(2022, 4, 11, 9)

revenue_web = get_revenue_web(df_sales, df_web_logs, begin_date, end_date)
revenue_web

  user_id  metric
0       1    2600
1       2     900

In [211]:
revenue_all = get_revenue_all(df_sales, df_web_logs, begin_date, end_date)
revenue_all

  user_id  metric
0       1  2600.0
1       2   900.0
2       3     0.0

In [203]:
response_time = get_response_time(df_web_logs, begin_date, end_date)
response_time

  user_id  metric
1       1    90.1
2       2    15.8
3       1    19.7