## Задача 1. Оценка вероятностей


40% заказов имеют стоимость больше 1000 рублей каждый. Допустим, новый заказ стоит больше 1000 рублей с вероятностью 0.4. Оцените вероятность того, что из 100 новых заказов 50 или более стоят дороже 1000 рублей.

Ответ округлите с точность до 3 знака после точки.

In [1]:
import scipy.stats as st

In [2]:
p = 0.4
q = 0.6
n = 100
m = 50

In [4]:
total = 0
for i in range(50, 100):
    total += st.binom.pmf(k=i, p=p, n=n)

In [6]:
round(total, 3)

np.float64(0.027)

## Задача 2. Популярные товары
 

Определите топ-3 товара по суммарной выручке. Для решения используйте данные из файла 2022-04-01/2022-04-01T12_df_sales_detail.csv.
Описание данных можно посмотреть на платформе А/Б тестирования на вкладке Главная.


Выберите полученные товары:

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("Simulator_AB/2022-04-01T12_df_sales_detail.csv")

In [9]:
data.head()

   sale_id           good  price                 date user_id
0  1000001  mexican pizza    720  2022-02-04 10:00:24  1c1543
1  1000002    chefs pizza    840  2022-02-04 10:02:28  a9a6e8
2  1000002   orange juice     90  2022-02-04 10:02:28  a9a6e8
3  1000003   cheese pizza    600  2022-02-04 10:02:35  23420a
4  1000003  italian pizza    720  2022-02-04 10:02:35  23420a

In [13]:
data.groupby("good")["price"].sum().sort_values(ascending=False).head(3)

good
chefs pizza               24558240
double pepperoni pizza    22558380
chicken bbq pizza         17622540
Name: price, dtype: int64

## Задача 3. Время от захода на сайт до покупки
  

Оцените средний срок, который проходит от захода пользователя на сайт до совершения покупки. Будем считать, что заход на сайт относится к покупке, если он был совершён не ранее, чем за два часа до совершения покупки. Другими словами, для каждой покупки нужно посчитать время, которое проходит от покупки до первого захода на сайт того же пользователя в течение двух часов перед покупкой. И от полученных значений времени посчитать среднее.

In [14]:
import pandas as pd

In [15]:
sales_df = pd.read_csv("Simulator_AB/2022-04-01T12_df_sales.csv")
logs_df = pd.read_csv("Simulator_AB/2022-04-01T12_df_web_logs.csv")

In [17]:
sales_df.head()

   sale_id                 date  count_pizza  count_drink  price user_id
0  1000001  2022-02-04 10:00:24            1            0    720  1c1543
1  1000002  2022-02-04 10:02:28            1            1    930  a9a6e8
2  1000003  2022-02-04 10:02:35            3            1   1980  23420a
3  1000004  2022-02-04 10:03:06            1            1    750  3e8ed5
4  1000005  2022-02-04 10:03:23            1            1    870  cbc468

In [18]:
logs_df.head()

  user_id page                 date  load_time
0  f25239    m  2022-02-03 23:45:37       80.8
1  06d6df    m  2022-02-03 23:49:56       70.5
2  06d6df    m  2022-02-03 23:51:16       89.7
3  f25239    m  2022-02-03 23:51:43       74.4
4  697870    m  2022-02-03 23:53:12       66.8

In [21]:
common_df = logs_df.merge(sales_df, on='user_id', suffixes=('_logs', '_sales'))

In [59]:
common_df = common_df.drop_duplicates(subset=['sale_id', 'date_logs', 'date_sales'])

In [60]:
common_df.shape

(4609044, 10)

In [61]:
common_df['date_sales'] = pd.to_datetime(common_df['date_sales'])
common_df['date_logs'] = pd.to_datetime(common_df['date_logs'])

/var/folders/lb/7x2fn5_57wj2tp98418jylg80000gp/T/ipykernel_8077/1688839373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  common_df['date_sales'] = pd.to_datetime(common_df['date_sales'])
/var/folders/lb/7x2fn5_57wj2tp98418jylg80000gp/T/ipykernel_8077/1688839373.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  common_df['date_logs'] = pd.to_datetime(common_df['date_logs'])

In [62]:
common_df['time_diff'] = common_df['date_sales'] - common_df['date_logs']

/var/folders/lb/7x2fn5_57wj2tp98418jylg80000gp/T/ipykernel_8077/3016924699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  common_df['time_diff'] = common_df['date_sales'] - common_df['date_logs']

In [63]:
common_df[(common_df['time_diff'] <= pd.Timedelta(hours=2)) & (common_df['time_diff'] >= pd.Timedelta(hours=0))].head()

,user_id,page,date_logs,load_time,sale_id,date_sales,count_pizza,count_drink,price,time_diff
1399,3e8ed5,m,2022-02-04 09:43:33,60.5,1000004,2022-02-04 10:03:06,1,1,750,0 days 00:19:33
1413,a9a6e8,m,2022-02-04 09:45:16,72.3,1000002,2022-02-04 10:02:28,1,1,930,0 days 00:17:12
1416,583c90,m,2022-02-04 09:45:17,58.1,1000006,2022-02-04 10:04:55,3,2,2400,0 days 00:19:38
1420,3e8ed5,m,2022-02-04 09:45:22,63.0,1000004,2022-02-04 10:03:06,1,1,750,0 days 00:17:44
1434,583c90,m,2022-02-04 09:46:30,77.9,1000006,2022-02-04 10:04:55,3,2,2400,0 days 00:18:25

In [64]:
time_diff = common_df[(common_df['time_diff'] <= pd.Timedelta(hours=2)) & (common_df['time_diff'] >= pd.Timedelta(hours=0))]['time_diff']

In [65]:
round(time_diff.mean().total_seconds()/60)

7

In [66]:
round(time_diff.apply(lambda x: x.total_seconds()).mean()/60)

7